<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Common/_0054b.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1},{454,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,355}</string>
			</dict>
			<key>Common/_0055b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,352},{521,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{521,213}</string>
			</dict>
			<key>Common/_0056.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,613},{218,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,303}</string>
			</dict>
			<key>Common/_0057.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1145},{196,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,237}</string>
			</dict>
			<key>Common/_0058.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,544},{303,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,313}</string>
			</dict>
			<key>Common/_0059.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,849},{206,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>Common/_0060.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,1057},{255,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,198}</string>
			</dict>
			<key>Common/_0061.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,833},{262,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,228}</string>
			</dict>
			<key>Common/_0062.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,857},{111,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,102}</string>
			</dict>
			<key>Common/_0063.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,718},{137,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,98}</string>
			</dict>
			<key>Common/_0064.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,858},{109,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,107}</string>
			</dict>
			<key>Common/_0065.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{311,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,257}</string>
			</dict>
			<key>Common/_0066.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,926},{217,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,242}</string>
			</dict>
			<key>Common/_0067.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,927},{186,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,84}</string>
			</dict>
			<key>Common/_0068.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,617},{143,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,228}</string>
			</dict>
			<key>Common/_0069.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,893},{167,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,153}</string>
			</dict>
			<key>Common/_0070.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,596},{179,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,113}</string>
			</dict>
			<key>Common/_0072.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,1395},{122,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,162}</string>
			</dict>
			<key>Common/_0073.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,1205},{189,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,204}</string>
			</dict>
			<key>Common/_0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1493,1465},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>Common/_0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,1559},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>Common/_0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,1285},{116,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,69}</string>
			</dict>
			<key>Common/_0035a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,544},{116,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,69}</string>
			</dict>
			<key>Common/_0035b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,662},{116,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,69}</string>
			</dict>
			<key>Common/_0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,365},{159,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,250}</string>
			</dict>
			<key>Common/_0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,970},{106,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,91}</string>
			</dict>
			<key>Common/_0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1048},{155,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,152}</string>
			</dict>
			<key>Common/_0042a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,1078},{106,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,91}</string>
			</dict>
			<key>Common/_0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,1060},{155,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,152}</string>
			</dict>
			<key>Common/_0005a.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,482},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>Common/_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,532},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>Common/_0084b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,576},{230,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,348}</string>
			</dict>
			<key>Common/_0085b.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,358},{387,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,253}</string>
			</dict>
			<key>Common/_0086b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,193},{330,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,381}</string>
			</dict>
			<key>Common/_0087b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{472,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{472,362}</string>
			</dict>
			<key>Common/_0078.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,777},{148,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,117}</string>
			</dict>
			<key>Common/_0079.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,352},{242,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,119}</string>
			</dict>
			<key>Common/_0080.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,576},{140,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,102}</string>
			</dict>
			<key>Common/_0088.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,352},{823,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{823,66}</string>
			</dict>
			<key>Common/_0005b.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,582},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>Common/_0042b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,967},{106,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,91}</string>
			</dict>
			<key>Common/_0090.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,1214},{155,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,152}</string>
			</dict>
			<key>Common/_0095.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,1115},{212,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,47}</string>
			</dict>
			<key>Common/_0096.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,825},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,40}</string>
			</dict>
			<key>Common/_0094.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,1227},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>Common/_0005c.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,632},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>Common/_0005d.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,682},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>Common/_0005e.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,732},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,56}</string>
			</dict>
			<key>Common/_0042c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,1186},{106,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,91}</string>
			</dict>
			<key>Common/_0042d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,1279},{106,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,91}</string>
			</dict>
			<key>Common/_0042e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1493,1372},{106,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,91}</string>
			</dict>
			<key>Common/_0101.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,782},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>Common/_0102.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,358},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Common/_0103.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,420},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Common/_0104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,780},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>Common/_0105.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,1177},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>Common/_0106.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,613},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>Common/_0107.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,683},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>Common/_0108.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,753},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>Common/_0109.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,823},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>Common/_0110.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,1255},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>Common/_0111.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,1325},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>Common/_0112.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1},{190,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,720}</string>
			</dict>
			<key>Common/_0113.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,875},{210,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,328}</string>
			</dict>
			<key>Common/_0074.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,1},{349,379}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,379}</string>
			</dict>
			<key>Common/_0074a.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,193},{349,379}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,379}</string>
			</dict>
			<key>Common/_0075.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1343},{176,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,197}</string>
			</dict>
			<key>Common/_0075a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,1396},{176,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,197}</string>
			</dict>
			<key>Common/_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,927},{33,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,121}</string>
			</dict>
			<key>Common/_0003a.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,1050},{33,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,121}</string>
			</dict>
			<key>Common/_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,1115},{33,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,110}</string>
			</dict>
			<key>Common/_0004a.png</key>
			<dict>
				<key>frame</key>
				<string>{{2011,1173},{33,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistCommon.png</string>
			<key>realTextureFileName</key>
			<string>PlistCommon.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>